body {
    background-size:cover
}

.col-md-7 {
    background-color: whitesmoke;
    width:100% !important;
    padding-bottom: 20px;
    margin-top: 40px;
    padding: 20px;
}

#name {
    background-color: teal;
    padding-left: 15px;
    font-weight: bold;
    border-radius: 5px;
}

h2 {
    color: teal;
    font-weight: bold;
}

img {
    margin-right: 20px !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 8px;
  }